<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Action:</strong>
  <%= @profile.action %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @profile.permission %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
