<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @context_user.local %>
</p>

<p>
  <strong>User:</strong>
  <%= @context_user.user %>
</p>

<p>
  <strong>Useractivity:</strong>
  <%= @context_user.useractivity %>
</p>

<%= link_to 'Edit', edit_context_user_path(@context_user) %> |
<%= link_to 'Back', context_users_path %>
