<%= form_for(user_activity) do |f| %>
  <% if user_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_activity.errors.count, "error") %> prohibited this user_activity from being saved:</h2>

      <ul>
      <% user_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="field">
    <%= f.label :local %>
    <%= f.text_field :local %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :activity %>
    <%= f.text_field :activity %>
  </div>

  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
