<p id="notice"><%= notice %></p>

<h1>Lab Widgets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rule</th>
      <th>Status</th>
      <th>Widget</th>
      <th>Laboratory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lab_widgets.each do |lab_widget| %>
      <tr>
        <td><%= lab_widget.name %></td>
        <td><%= lab_widget.rule %></td>
        <td><%= lab_widget.status %></td>
        <td><%= lab_widget.widget %></td>
        <td><%= lab_widget.laboratory %></td>
        <td><%= link_to 'Show', lab_widget %></td>
        <td><%= link_to 'Edit', edit_lab_widget_path(lab_widget) %></td>
        <td><%= link_to 'Destroy', lab_widget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lab Widget', new_lab_widget_path %>
