<%= form_for(context_widget) do |f| %>
  <% if context_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(context_widget.errors.count, "error") %> prohibited this context_widget from being saved:</h2>

      <ul>
      <% context_widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :labwidget %>
    <%= f.text_field :labwidget %>
  </div>

  <div class="field">
    <%= f.label :useractivity %>
    <%= f.text_field :useractivity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
