<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @context_widget.value %>
</p>

<p>
  <strong>Labwidget:</strong>
  <%= @context_widget.labwidget %>
</p>

<p>
  <strong>Useractivity:</strong>
  <%= @context_widget.useractivity %>
</p>

<%= link_to 'Edit', edit_context_widget_path(@context_widget) %> |
<%= link_to 'Back', context_widgets_path %>
